.charsheet {
    background-color: aliceblue;
    border: 0px;
    color:black;
    width: 840px;
	margin: 2px;
	line-height: 1.0;
}

.dummy{
	/*incase BOM decides to screw up css */
}


/* ==== roll template ==== */

.sheet-rolltemplate-rol-percent div.sheet-template-charname {
    border: 0px;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
}

.sheet-rolltemplate-rol-percent div.sheet-template-container {
	border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;
}
.sheet-rolltemplate-rol-percent .sheet-template-rollname {
	background-color: darkblue;
	color: white;
	padding: 2px;
	border-bottom: 1px solid black;
	line-height: 1.6em;
	font-size: 1.2em;
	font-weight: bold;
}

.sheet-rolltemplate-rol-percent .sheet-template-values {
    background-color: lightgrey;
	padding: 5px;
	border-bottom: 1px solid black;
}

.sheet-rolltemplate-rol-percent .sheet-template-result {
    background-color: white;
	padding: 5px;
	border-bottom: 1px solid black;
	font-weight: bold;
}

.sheet-rolltemplate-rol-percent .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 0px;
	background-color: rgba(0, 0, 0,0);
}


/* ==== Inputs ==== */



.sheet-textarea-div{
    width: 95%;
}


input[type="text"] {
  background-color: transparent;
  border-style: none none solid none;
  border-color: grey;
}

input[type="number"] {
  background-color: transparent;
  border-style: none none solid none;
  border-color: grey;
  width: 3em;
}

input.sheet-bio-input {
	width:70%;
}

input[type="text"].sheet-damage-status  {
    color: red;
	border-style: none;
}

select {
  background-color: transparent;
  border-style: none none solid none;
  border-color: grey;
  width: 10em;  
}

textarea {
    background-color: transparent;
    margin: 0 0 0 0;
	resize: none;
	background-attachment: local;
    background-image:
	linear-gradient(to right, aliceblue 10px, transparent 10px),
	linear-gradient(to left, aliceblue 10px, transparent 10px),
	repeating-linear-gradient(aliceblue, aliceblue 30px, #ccc 30px, #ccc 31px, aliceblue 31px);
    line-height: 31px;
	border: 0px;
	padding: 1px 1px 1px 1px;
}


textarea.sheet-textarea-notes {
    height: 100px;
}

textarea.sheet-damage-description  {
	border-style: none;
	background-color: transparent;
	height: 40px;
	line-height: 20px;
	font-size: 12px;
	background-image: none;
	margin-left: 2px;
	width: 98%;
}

input[type="checkbox"].sheet-checkbox {
  border-style: solid black;
  border-radius: 0px;
}

input.sheet-adv-input {
    width: 99%;
}


.charsheet button.sheet-dice {
  border: none;
  border: 1px solid lightgrey;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
  background-image: linear-gradient(to bottom, #FFFFFF , #e6e6e6);
  font-size: 1.3em;
  text-align: center;
  padding: 4px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

.charsheet button.sheet-dice:after {
    font-family: dicefontd20;
    content:'t';    
}

.charsheet button.sheet-dice:hover {
    background-image: linear-gradient(to bottom, #e6e6e6 , #e6e6e6);
}

.charsheet button.sheet-dice:active {
    background-image: none;
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 5%);
    background-color: #e6e6e6;
}



/* ==== General section stuff  ==== */

.charsheet div.sheet-header{
  display: flex;
  padding: 0px;
  border: 0px;
}

h4.sheet-section-head {
   color: white;
   background-color: midnightblue;
   padding-left: 2px;
   padding-right: 2px;
   margin: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: top;
   font-weight: normal;
   font-style: normal;
   height: 1.5em;
}

div.sheet-section-row {
    vertical-align: top;
}

label.sheet-short-label {
   display: inline-block;
   width: 4.5em;
   vertical-align: middle;
   margin-left: 5px;
   margin-bottom: 0px;
   font-size: 1em;
}

label.sheet-long-label {
   display: inline-block;
   width: 8em;
   vertical-align: middle;
   margin-left: 5px;
   margin-bottom: 0px;
   font-size: 1em;
}

.sheet-hint-short-label {
    font-size: 0.5em;
    font-style: italic;
    margin-left: 80px;
    vertical-align: top;
}

.sheet-hint-long-label {
    font-size: 0.5em;
    font-style: italic;
    margin-left: 125px;
    vertical-align: top;
}

.sheet-hint-full {
    font-size: 0.5em;
    font-style: italic;
    margin-left: 25px;
    vertical-align: top;
}

.sheet-hint-half {
    font-size: 0.5em;
    font-style: italic;
    margin-left: 45px;
    vertical-align: top;
}

.sheet-hint-starting {
    font-size: 0.5em;
    font-style: italic;
    margin-left: 12px;
    vertical-align: top;
}

.sheet-hint-current {
    font-size: 0.5em;
    font-style: italic;
    margin-left: 35px;
    vertical-align: top;
}



/* ==== Section specific ==== */

label.sheet-bio-label {
   display: inline-block;
   width: 7em;
   vertical-align: middle;
   margin-left: 5px;
   margin-bottom: 0px;
   font-size: 1em;
}

.sheet-adv-div {
    margin-left: 10px;    
}

/* ==== Grid definition ==== */
.charsheet .sheet-grid-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  2fr 1fr 1fr 1fr 2fr 1fr 1fr;
  grid-template-areas:"bio bio bio bio stats stats"
                      "advantages advantages advantages advantages advantages advantages"
                      "damage damage combat combat sup sup"
					  "common common expert expert weapons weapons"
                      "common common expert expert weapons weapons"
					  "magic magic magic magic magic magic"
					  "notes notes notes notes notes notes";
  grid-gap: 2px;
}

.charsheet div.sheet-block{
  display: grid;
  padding: 0px;
  border: 1px solid lightsteelblue;
}

.charsheet div.sheet-bio{
  grid-area: bio;
}

.charsheet div.sheet-stats{
  grid-area: stats;
}

.charsheet div.sheet-sup{
  grid-area: sup;
}

.charsheet div.sheet-notes{
  grid-area: notes;
}

.charsheet div.sheet-advantages{
  grid-area: advantages;
}

.charsheet div.sheet-common{
  grid-area: common;
}

.charsheet div.sheet-expert{
  grid-area: expert;
}

.charsheet div.sheet-combat{
  grid-area: combat;
  justify-content: flex-start;
}

.charsheet div.sheet-damage{
  grid-area: damage;
}

.charsheet div.sheet-weapons{
  grid-area: weapons;
}

.charsheet div.sheet-magic{
  grid-area: magic;
}